* {
    text-align: center;
}
body {
    background-color: cornflowerblue !important;

}
.card-img-top {
    margin-left: 9.5rem !important;
    border: .7rem solid black;
    width: 50rem;
    height: 30rem;
}
.h5 {
    text-align: center !important;
}